.header {
    background-color: #052A3A;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #DCDCDC;
}

.title {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: calc(4vw + 20px);
}

.navbar {
    background-color: #055D72;
    margin: 0;
    padding: 0;
    border: 1px solid #DCDCDC;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    padding: 10px 10px 10px 10px;
    border-right: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
}

.navbar li:hover {
    background-color: white;
}

.navbar li:active {
    background-color: #071108;
}

a {
    text-decoration: none;
    color: #DCDCDC;
}

a:hover {
    text-decoration: none;
    color: #071108;
}

a:active {
    text-decoration: none;
    color: #DCDCDC;
}
